.nav{
	z-index: 1;
position: fixed;
top: 0;
width: 100%;
padding: 20px;
display: flex;
justify-content: space-between;
/* background: #111; */
height: 30px;
transition: all 0.5s;
}
.black-nav{
background: #111;
}
.netflix-logo{
	position: fixed;
	left: 20px;
width:80px;
object-fit: contain;
}
.netflix-avatar{
	position:fixed;
	right: 20px;
	width: 30px;
	object-fit: contain;
}